In [55]:
from pyspark import SparkContext, SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import col, udf, lower, round, when
import pandas as pd

In [2]:
sc = SparkContext("local", "First App")

In [3]:
sqlCtx = SQLContext(sc)

In [6]:
df = sqlCtx.read.csv('FMEL_Dataset.csv', inferSchema=True, header=True)

In [14]:
df.describe().toPandas()

,summary,id,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,count,37147,37147,37147,37147,37147,37147,37147,37147,37147,37147
1,mean,18574.0,None,1.5378092443535145,19.86289606159313,None,None,1.51538482246211,0.9369531859907934,None,8.116889063665975E8
2,stddev,10723.559561389431,None,0.4985751224808899,11.282774223366431,None,None,1.2627421681320699,1.0102626403714559,None,4.322134373365736E8
3,min,1,1970-71,1,1,AD Almeria,AD Almeria,0,0,01/01/1972,21333600
4,max,37147,2017-18,2,44,Zaragoza,Zaragoza,10,8,31/12/2015,1527890400

In [28]:
df = df.drop('id')

In [29]:
first_division = df.filter(col('division') == 1)

In [31]:
first_division = first_division.withColumn('winner', \
                          when(col('localGoals') > col('visitorGoals'), 1)\
                          .when(col('localGoals') < col('visitorGoals'), 2)\
                          .otherwise(3))

In [54]:
season_count = first_division.groupBy('season').count()
season_home_wins = first_division.filter(col('winner') == 1).groupBy('season').count()
season_home_avg =  season_count.alias('sc')\
                                .join(season_home_wins.alias('sh'), col('sc.season') == col('sh.season'))\
                                .select([col('sc.season'), col('sc.count').alias('total_games'), col('sh.count').alias('home_wins')])
season_home_avg = season_home_avg.withColumn('home_win_pct', col('home_wins')/col('total_games'))
season_home_avg.sort('home_win_pct').collect()

[Row(season='1984-85', total_games=306, home_wins=129, home_win_pct=0.4215686274509804),
 Row(season='2005-06', total_games=380, home_wins=162, home_win_pct=0.4263157894736842),
 Row(season='2014-15', total_games=380, home_wins=171, home_win_pct=0.45),
 Row(season='2006-07', total_games=380, home_wins=172, home_win_pct=0.45263157894736844),
 Row(season='2003-04', total_games=380, home_wins=172, home_win_pct=0.45263157894736844),
 Row(season='1995-96', total_games=462, home_wins=211, home_win_pct=0.45670995670995673),
 Row(season='1988-89', total_games=380, home_wins=175, home_win_pct=0.4605263157894737),
 Row(season='2002-03', total_games=380, home_wins=176, home_win_pct=0.4631578947368421),
 Row(season='2017-18', total_games=380, home_wins=179, home_win_pct=0.4710526315789474),
 Row(season='2013-14', total_games=380, home_wins=179, home_win_pct=0.4710526315789474),
 Row(season='1996-97', total_games=462, home_wins=220, home_win_pct=0.47619047619047616),
 Row(season='1994-95', total_games=380, home_wins=181, home_win_pct=0.4763157894736842),
 Row(season='2016-17', total_games=380, home_wins=181, home_win_pct=0.4763157894736842),
 Row(season='1999-00', total_games=380, home_wins=182, home_win_pct=0.4789473684210526),
 Row(season='1992-93', total_games=380, home_wins=182, home_win_pct=0.4789473684210526),
 Row(season='2007-08', total_games=380, home_wins=182, home_win_pct=0.4789473684210526),
 Row(season='1997-98', total_games=380, home_wins=182, home_win_pct=0.4789473684210526),
 Row(season='2015-16', total_games=380, home_wins=183, home_win_pct=0.48157894736842105),
 Row(season='2008-09', total_games=380, home_wins=184, home_win_pct=0.4842105263157895),
 Row(season='2001-02', total_games=380, home_wins=186, home_win_pct=0.48947368421052634),
 Row(season='1993-94', total_games=380, home_wins=188, home_win_pct=0.49473684210526314),
 Row(season='2011-12', total_games=380, home_wins=188, home_win_pct=0.49473684210526314),
 Row(season='2012-13', total_games=380, home_wins=189, home_win_pct=0.49736842105263157),
 Row(season='1998-99', total_games=380, home_wins=191, home_win_pct=0.5026315789473684),
 Row(season='2004-05', total_games=380, home_wins=192, home_win_pct=0.5052631578947369),
 Row(season='2009-10', total_games=380, home_wins=194, home_win_pct=0.5105263157894737),
 Row(season='2010-11', total_games=380, home_wins=197, home_win_pct=0.5184210526315789),
 Row(season='1987-88', total_games=380, home_wins=197, home_win_pct=0.5184210526315789),
 Row(season='1990-91', total_games=380, home_wins=198, home_win_pct=0.5210526315789473),
 Row(season='1989-90', total_games=380, home_wins=198, home_win_pct=0.5210526315789473),
 Row(season='2000-01', total_games=380, home_wins=199, home_win_pct=0.5236842105263158),
 Row(season='1985-86', total_games=306, home_wins=167, home_win_pct=0.545751633986928),
 Row(season='1991-92', total_games=380, home_wins=208, home_win_pct=0.5473684210526316),
 Row(season='1983-84', total_games=306, home_wins=169, home_win_pct=0.5522875816993464),
 Row(season='1972-73', total_games=306, home_wins=172, home_win_pct=0.5620915032679739),
 Row(season='1980-81', total_games=306, home_wins=173, home_win_pct=0.565359477124183),
 Row(season='1986-87', total_games=396, home_wins=229, home_win_pct=0.5782828282828283),
 Row(season='1971-72', total_games=306, home_wins=177, home_win_pct=0.5784313725490197),
 Row(season='1979-80', total_games=305, home_wins=177, home_win_pct=0.580327868852459),
 Row(season='1970-71', total_games=240, home_wins=140, home_win_pct=0.5833333333333334),
 Row(season='1982-83', total_games=306, home_wins=179, home_win_pct=0.5849673202614379),
 Row(season='1978-79', total_games=306, home_wins=190, home_win_pct=0.6209150326797386),
 Row(season='1976-77', total_games=306, home_wins=192, home_win_pct=0.6274509803921569),
 Row(season='1981-82', total_games=306, home_wins=195, home_win_pct=0.6372549019607843),
 Row(season='1974-75', total_games=306, home_wins=195, home_win_pct=0.6372549019607843),
 Row(season='1973-74', total_games=306, home_wins=197, home_win_pct=0.6437908496732027),
 Row(season='1975-76', total_games=306, home_wins=200, home_win_pct=0.6535947712418301),
 Row(season='1977-78', total_games=306, home_wins=200, home_win_pct=0.6535947712418301)]